div.article_content {
    max-width: 100%;
}

/* Возможность кликнуть на скроллбар, когда курсор прижат к правой части экрана */
#reader_pane {
    margin-right: -1px;
}

/* Don't show InoReader logo */
div#subscriptions_nav>div>a {
    display: none;
}

/* Менять цвет «основного» шрифта с #2E415C на #000 */
.article_full_contents {
    color: #000 !important;
}

/* Уменьшить отступ слева от текста (44px -> 20px) */
.article_card {
    padding-left: 16px !important;
}

/* Не показывать баннер в верхней части страницы и надпись «Remove ads» под ним */
.block_article_ad.leaderboard_ad.ad_size_leaderboard.sinner, /* Баннер */
.ad_title.ad_title_centered /* Надпись */
{
    display: none;
}

/* Не показывать зелёную кнопку «Upgrade» справа сверху */
.inno_toolbar_button.inno_toolbar_button_upgrade {
    display: none;
}

/* Banner below some RSS feed items */
.avs_iframe {
    display: none;
}

/* Remove empty space for banners */
#reader_pane.reader_pane_sinner {
    padding-right: 0 !important;
}

#sinner_container {
    display: none !important;
}